@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


.curlytext {
  font-family: "Playwrite VN", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.sandalcolour{
color: #f5d773;

}